doctype html
html(lang='en')
  head
    title My StartUp
    link(href='bootstrap.css' rel='stylesheet')
    link(href='carousel.css' rel='stylesheet')
  
  body
    .navbar-wrapper
      .container
        nav.navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Freelancer 
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
        .container 
         block content
        hr.featurette-divider
        footer
          p.pull-right
            a(href='#') Back to top
          p
            | © 2021 Adegbiji AbdulQuadri Olanrewaju, All right Reserved. · 
